<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%#= 7.1.4演習No.2 %>
        <%= gravatar_for @user, size: 50 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<%# 7.1.2演習No.1 %>
<%#= @user.created_at %> <%#= @user.updated_at %> 
<%# 7.1.2演習No.2 %>
<%#<br> %>
<%#= Time.now %> 